<ng-container *ngIf="user | async; else login">
    Congrats You logged in without a password!
    <!-- <button (click)="logout()">Signout</button> -->

</ng-container>

<ng-template #login>

    <input type="email" style="width:200px" [(ngModel)]="email">

    <br>

    <button [disabled]="emailSent"  style="margin: 10px 0" (click)="sendEmailLink(email)">Get Login Link</button>

    <div *ngIf="emailSent">
        We sent you an email with your login link.
    </div>

    <div *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

</ng-template>